/* PLANOS */
.plan {
  position: relative;

  padding: 10px;
  border: 1px solid #95a4a5;

  font-size: 1.4rem;
}

.plan--more-pop::after {
  position: absolute;
  top: -10px;
  left: -10px;

  padding: 0 10px;

  background-color: #c20303;
  color: #fff;

  font-size: 0.7142em;
  line-height: 2.5;

  content: "MAIS POPULAR";
}

.plan__header {
  margin: -10px -10px 0;

  background-color: #95a4a5;
  color: #fff;

  text-align: center;
  line-height: 2.5;
  font-weight: normal;
  font-size: 2em;
}


.plan__price {
  margin: 20px 0;

  text-align: center;
  font-size: 2em;
}

.plan__description {
  padding: 0;
  margin: 20px 0;

  font-size: 1em;

  list-style: none;
}

.plan__description > li {
  text-align: center;
}

.plan__footer {
  text-align: center;
}


/* BOTÃO */
.button {
  display: inline-block;
  padding: 0.8em 1.2em;

  background-color: #bbb;
  color: #fff;

  font-size: 1em;
  text-decoration: none;
}

.button:hover, .button:focus {
  background-color: #aaa;
  color: #fff;

  text-decoration: none;
}

.button--signup {
  background-color: #127d00;
}

.button--signup:hover, .button--signup:focus {
  background-color: #0e6400;
}

.button--main {
  border-radius: 10px;

  background-color: #004b86;
}

.button--main:hover, .button--main:focus {
  background-color: #003b6a;
}


/* CHAMADA */
.call {
  font-size: 1.6rem;
  text-align: center;
}

.call__title {
  margin: 0;

  color: #fff;

  font-size: 3.375em;
  line-height: 0.9;
  text-shadow: 1px 1px #313131;
}

.call__caption {
  margin: 60px 0;

  color: #fff;

  font-size: 1em;
}

.call__action {
  font-size: 1em;
}

@media (min-width: 992px) {
  .call {
    padding-left: 10%;
    padding-right: 10%;

    font-size: 2.2rem;
  }
}

/* DEPOIMENTO */
.testimonial {
  font-size: 2.2rem;
}

@media (min-width: 992px) {
  .testimonial {
    padding-left: 15%;
    padding-right: 15%;

    font-size: 2.8rem;
  }
}

.testimonial > blockquote {
  margin: 0;
  padding: 0 60px;

  text-align: center;
  font-size: 1em;
}

.testimonial__author {
  margin-top: 40px;

  text-align: center;
  font-size: 0.7272em;
}

.testimonial__author > img {
  border-radius: 50%;
}

.testimonial__author > p {
  margin-top: 10px;
}


